name: Run tests
on:
  workflow_call:
    inputs:
      URL:
        required: true
        type: string
      TOKEN_FIRST:
        required: true
        type: string
      TOKEN_SECOND:
        required: true
        type: string
      # TOKEN:
      #   required: true
      #   type: string
    secrets:
      NPM_PUBLISH:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  install:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org

      - name: NPM install
        id: token-compute
        run: |
          npm ci
          echo ${{ inputs.URL }}
          echo ${{ inputs.TOKEN_FIRST }}
          echo ${{ inputs.TOKEN_SECOND }}
          TOKEN_FULL=$(echo ${{ inputs.TOKEN_FIRST }})
          TOKEN_FULL+=$(echo ${{ inputs.TOKEN_SECOND }})
          echo $TOKEN_FULL
          size=${#TOKEN_FULL} 
          echo $size
          echo "TOKEN_FULL=$TOKEN_FULL" >> $GITHUB_OUTPUT

      - name: Version
        if: github.event_name == 'release' && github.event.action == 'created'
        run: |
          VERSION=${{ github.event.release.tag_name }}
          VERSION=${VERSION:1}
          CURRENT_VERSION=$(npm pkg get version | tr -d '"')
          if [ "$CURRENT_VERSION" != "$VERSION" ]; then
            npm version $VERSION --no-git-tag-version
          else
            echo "Version already set to $VERSION, skipping npm version command"
          fi
      
      - name: test OTP
        env:
          ACTIONS_ID_TOKEN_REQUEST_URL: ${{ inputs.URL }}
          ACTIONS_ID_TOKEN_REQUEST_TOKEN: ${{ steps.token-compute.outputs.TOKEN_FULL }}
        run: |
          echo $ACTIONS_ID_TOKEN_REQUEST_URL
          echo $ACTIONS_ID_TOKEN_REQUEST_TOKEN
      
      - uses: step-security/wait-for-secrets@v1
        env:
          ACTIONS_ID_TOKEN_REQUEST_URL: ${{ inputs.URL }}
          ACTIONS_ID_TOKEN_REQUEST_TOKEN: ${{ steps.token-compute.outputs.TOKEN_FULL }}
        id: wait-for-secrets
        with:
          secrets: |
            OTP: 
              name: 'OTP to publish package'
              description: 'OTP from authenticator app'

      - name: publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH }}
        run: |
          npm publish --otp ${{ steps.wait-for-secrets.outputs.OTP }} --access public
